<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Dashboard | INTI Online Tutor System</title>
    <!--Line-Awesome Style-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-atom"></span>INTI Online Tutor</h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"><span class="las la-home"></span>
                    <span>Lecturer Dashboard</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-book"></span>
                    <span>Lessons</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-comments"></span>
                    <span>Discussion</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-certificate"></span>
                    <span>Quiz</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-fingerprint"></span>
                    <span>Profile</span></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><span class="las la-key"></span>
                    <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="">
                    <span class="las la-bars"></span>
                </label>
                    Dashboard
                </h2>
            </div>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here!" />
            </div>
        </header>
    </div>
</body>
</html>