<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Tutorial List | INTI Online Tutor System</title>
    <!--Line-Awesome Style-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-atom"></span>INTI Online Tutor</h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{% url 'student_dashboard' %}"><span class="las la-home"></span>
                    <span>Student Dashboard</span></a>
                </li>
                <li>
                    <a href="{% url 'student_tutorials' %}" class="active"><span class="las la-microchip"></span>
                    <span>Lessons</span></a>
                </li>
                <li>
                    <a href="{% url 'student_list_quiz' %}"><span class="las la-certificate"></span>
                    <span>Quizzes</span></a>
                </li>
                <li>
                    <a href="{% url 'student_profile' %}"><span class="las la-fingerprint"></span>
                    <span>Profile</span></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><span class="las la-key"></span>
                    <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="">
                    <span class="las la-bars"></span>
                </label>
                    Dashboard
                </h2>
            </div>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here!" />
            </div>

            <div class="user-wrapper">
                <img src="{% static 'images/user.png' %}" width="40px" height="40px" alt="">
                <div>
                    <h4>{{user.username}}</h4>
                    <small>Logged In</small>
                </div>
            </div>
        </header>

        <main>
                  <!-- Blog Entries Column -->
                  <div class="col-md-8" style="width: 100%;">
                    {% for tutorial in tutorials %}

                    <h1 class="my-4">
                      <small></small>
                    </h1>

                    <!-- Blog Post -->
                    <div class="card mb-4">
                        <br><center><h2 class="card-title text-primary" style="color: var(--main-color); font-size: 1.3rem;">
                            {{tutorial.course}} - {{ tutorial.title }}</h2></center>

                      {% if tutorial.image %}
                          <img src="{{ tutorial.image.url }}" alt="{{ tutorial.title }}" width="50%">
                      {% else %}
                            <p></p>
                      {% endif %}
                      <div class="card-body">
                        <p class="card-text">{{ tutorial.content | truncatechars:100 }}</p>
                        <a href="{% url 'student_tutorial_detail' tutorial.pk %}" class="btn btn-primary">Begin Reading &rarr;</a>
                      </div>
                      <div class="card-footer text-muted">
                        Posted on {{ tutorial.created_at }} by
                        <a href="#">{{ tutorial.user.username }}</a>
                      </div>
                    </div>

                    {% endfor %}

                  </div>
                    </main>
                </div>
            </body>
            </html>
