@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #b30000;
    --color-dark: #1D2231;
    --text-grey: #8390A2
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 360px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand h2 {
    font-size: 1.7rem;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;

}

.sidebar-menu a span:first-child {
    font-size: 1rem;
    padding-right: 1rem;
}

.main-content {
    margin-left: 360px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 360px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    background-color: white;
}

header h2 {
    color: #222;
    font-size: 1.5rem;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.user-wrapper h4 {
    font-size: 1.3rem;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: 1px;
}

main {
    margin-top:89px;
    padding: 2rem;
    background: #f1f5f9;
    min-height: calc(100vh -90px);

}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display:flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.student-register {
    margin-left: 345px;
}

.form-control {
    background-color: white;
    width: 100%;
    height: 2.5rem;
    border-top: 5;
    border-right: 5;
    border-left: 5;
    border-radius: 30;
    margin-right: 10px;
    &:focus {border-color: #ccc};
}

.form-group {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column wrap;
    align-items: left;
    margin-bottom: 10px;
}

.form-group legend {
    border: 2.5px solid rgb(221,47,110);
    border-radius: 0.5rem;
    width: 250px;
    height: 2.5rem;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
}

.form-group button {
    height: 2.5rem;
    border-radius: 0.5rem;
    background: var(--main-color);
    color: white;
    font-size: 1rem;
}

td {
    text-align: center;
    border: 1px solid rgb(221,47,110);
    height: 2.5rem;
    margin: auto;
}

