<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!--Line-Awesome Style-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-heartbeat"></span>Health App</h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href=""><span class="las la-home"></span>
                    <span>Admin Dashboard</span></a>
                </li>
                <li>
                    <a href="" class="active"><span class="las la-bullhorn"></span>
                    <span>Post Announcement</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-archive"></span>
                    <span>Manage Announcements</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-key"></span>
                    <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="">
                    <span class="las la-bars"></span>
                </label>
                    Dashboard
                </h2>
            </div>
        </header>

        <main>
            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="card-header" style="color: var(--main-color); font-size: 1.3rem;">
                            <i class="las la-bullhorn"></i>
                            Post an Announcement!
                        </div>
                    <div class="card-body">
                        <div class="form-group">
                            <form method="POST">
                                <textarea style="width: 100%" type="announcement" placeholder="Type announcement..."></textarea><br>
                                <button class="btn btn-secondary">Post Announcement</button>
                            </form>
                        </div>
                    </div>
        </main>
    </div>
</body>
</html>