<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="{% static 'css/admin.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<form class="login">
  <h3>Admin Login</h3>
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <button>Login</button>
</form>
<!-- partial -->
  
</body>
</html>
